@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f4f6;
}
#root {
    margin: 0;
    padding: 0;
}



*:focus {
    outline: none;
}

/* Responsivity */
@media (max-width: 640px) {
    #title-page {
        display: none;
    }
    
}

/* Animation fade-in */
.fade-in {
    animation: fadeIn 0.2s ease-in-out;
}

/* Animation fade-out */
.fade-out {
    animation: fadeOut 0.2s ease-in-out;
}

/* Animation slide-in */
.slide-in {
    animation: slideIn 0.3s ease-in-out;

}

/* Animation slide-out */
.slide-out {
    animation: slideOut 0.3s ease-in-out;
}

.extend {
    animation: extend 0.15s ease-in-out;
}

.editor{
    height: 100vh-(300px);
}



@keyframes fadeIn {
    0% {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
    100% {
        opacity: 1;
        backdrop-filter: blur(6px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        backdrop-filter: blur(6px);
    }
    100% {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes extend {
    0% {
        width: fit-content;
    }
    100% {
        width: 200px;
    }
}

#notes-container::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgb(38, 38, 38); /* or add it to the track */
}
#notes-container::-webkit-scrollbar-thumb {
  background-color: #4a4a4a; 
  border-radius: 5px;
}

@layer base {
    :root {
      --background: 240 7% 8%;
      --foreground: 0 0% 78%;
      --muted: 240 12% 15%;
      --muted-foreground: 240 12% 65%;
      --popover: 240 7% 5%;
      --popover-foreground: 0 0% 88%;
      --card: 240 7% 6%;
      --card-foreground: 0 0% 83%;
      --border: 0 0% 13%;
      --input: 0 0% 16%;
      --primary: 0 0% 67%;
      --primary-foreground: 0 0% 7%;
      --secondary: 0 0% 25%;
      --secondary-foreground: 0 0% 85%;
      --accent: 240 7% 23%;
      --accent-foreground: 240 7% 83%;
      --destructive: 0 84% 49%;
      --destructive-foreground: 0 0% 100%;
      --ring: 0 0% 67%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 240 7% 8%;
      --foreground: 0 0% 78%;
      --muted: 240 12% 15%;
      --muted-foreground: 240 12% 65%;
      --popover: 240 7% 5%;
      --popover-foreground: 0 0% 88%;
      --card: 240 7% 6%;
      --card-foreground: 0 0% 83%;
      --border: 0 0% 13%;
      --input: 0 0% 16%;
      --primary: 0 0% 67%;
      --primary-foreground: 0 0% 7%;
      --secondary: 0 0% 25%;
      --secondary-foreground: 0 0% 85%;
      --accent: 240 7% 23%;
      --accent-foreground: 240 7% 83%;
      --destructive: 0 84% 49%;
      --destructive-foreground: 0 0% 100%;
      --ring: 0 0% 67%;
    }
  }
  
  
  

